<div class="selection alert alert-info">
<p >Your Selection:</p>
  <ul>
    <li>Match type: <span><%= @match %></span></li>
    <li>Transformation type: <span><%= @transformation %></span></li>
  </ul>
</div>
<div class="output">
  <p>Your string <span class="test-word"><%= @test_word %></span> appears <span class="count"><%= @output %></span> times in the sentence <span class="sentence"><%= @sentence %></span></p>
</div>
<div class="well">
  <img class="img-rounded" src="img/count.jpg" alt="some friends" />
</div>
